# https://docs.victoriametrics.com/helm/victoria-logs-cluster/
# https://github.com/VictoriaMetrics/helm-charts/blob/victoria-logs-cluster-0.2.7/charts/victoria-logs-cluster/values.yaml

metricsDatasourceUid: {{ requiredEnv "VICTORIA_METRICS_DATASOURCE_ID" }}
metricsDatasourceType: {{ requiredEnv "VICTORIA_METRICS_DATASOURCE_TYPE" }}

{{- $defaultSecurityContext := dict
  "enabled" true
  "allowPrivilegeEscalation" false
  "readOnlyRootFilesystem" true
  "runAsNonRoot" true
  "runAsUser" 1000
  "runAsGroup" 1000
  "capabilities" (dict "drop" (list "ALL"))
  "seccompProfile" (dict "type" "RuntimeDefault")
}}

victoria-logs-cluster:
  global:
    image:
      registry: quay.io # common registry we already use for other workloads

  vmauth:
    enabled: true
    replicaCount: 1
    fullnameOverride: victoria-logs-cluster-vmauth
    podLabels:
      app.simcore.io/name: vmauth
    extraArgs:
      http.pathPrefix: /logs
    http:
      - name: http
        primary: true
        value: ":8427"
    vmServiceScrape:
      enabled: true
      spec:
        endpoints:
          - port: http
            path: /logs/metrics
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - name: {{ requiredEnv "K8S_MONITORING_FQDN" }}
          path:
            - /logs
          port: http
      annotations:
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: >
          {{ requiredEnv "TRAEFIK_NAMESPACE" }}-{{ requiredEnv "TRAEFIK_BASIC_AUTH_MIDDLEWARE_NAME" }}@kubernetescrd
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi

  vlinsert:
    replicaCount: 1
    fullnameOverride: victoria-logs-cluster-vlinsert
    podLabels:
      app.simcore.io/name: vlinsert
    http:
      - name: http
        primary: true
        value: ":9481"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

  vlselect:
    replicaCount: 1
    fullnameOverride: victoria-logs-cluster-vlselect
    podLabels:
      app.simcore.io/name: vlselect
    http:
      - name: http
        primary: true
        value: ":9471"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

  vlstorage:
    replicaCount: 1
    retentionPeriod: 30d
    fullnameOverride: victoria-logs-cluster-vlstorage
    podLabels:
      app.simcore.io/name: vlstorage
    http:
      - name: http
        primary: true
        value: ":9491"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: "1"
        memory: 2Gi
    persistentVolume:
      storageClassName: {{ requiredEnv "KUBERNETES_CRITICAL_STORAGE_CLASS_NAME" | quote }}
      size: 50Gi
