version: "3.7"

services:
  manual:
    image: ${VENDOR_MANUAL_IMAGE}
    init: true
{%- raw %}
    hostname: "{{.Node.Hostname}}-{{.Task.Slot}}"
{%- endraw %}
    deploy:
      replicas: ${VENDOR_MANUAL_REPLICAS}
      placement:
        constraints:
          - node.labels.simcore==true
      resources:
        limits:
          cpus: "1"
          memory: 2G
        reservations:
          cpus: "0.5"
          memory: 1G
      update_config:
        parallelism: 1
        order: start-first
        failure_action: continue
        delay: 10s
      labels:
        - traefik.enable=true
        - traefik.swarm.network=${PUBLIC_NETWORK}
        - traefik.http.services.vendor_manual.loadbalancer.server.port=${VENDOR_MANUAL_PORT}
        - traefik.http.routers.vendor_manual.entrypoints=https
        - traefik.http.routers.vendor_manual.tls=true
        - traefik.http.routers.vendor_manual.rule={{ generate_vendors_manual_traefik_rule(VENDOR_MANUAL_PRODUCTS, VENDOR_MANUAL_SUBDOMAIN_PREFIX) }}
        - traefik.http.routers.vendor_manual.middlewares=ops_gzip@swarm, authenticated_platform_user@swarm
    networks:
      - public

networks:
  public:
    external: true
    name: ${PUBLIC_NETWORK}
