VENDOR_MANUAL_IMAGE=${VENDOR_MANUAL_IMAGE}
VENDOR_MANUAL_REPLICAS=${VENDOR_MANUAL_REPLICAS}
VENDOR_MANUAL_SUBDOMAIN_PREFIX=${VENDOR_MANUAL_SUBDOMAIN_PREFIX}
VENDOR_MANUAL_PRODUCTS=${VENDOR_MANUAL_PRODUCTS}
VENDOR_MANUAL_PORT=${VENDOR_MANUAL_PORT}
VENDOR_CHATBOT_IMAGE=${VENDOR_CHATBOT_IMAGE}
VENDOR_CHATBOT_REPLICAS=${VENDOR_CHATBOT_REPLICAS}
VENDOR_CHATBOT_SUBDOMAIN_PREFIX=${VENDOR_CHATBOT_SUBDOMAIN_PREFIX}
VENDOR_CHATBOT_PRODUCTS=${VENDOR_CHATBOT_PRODUCTS}
VENDOR_CHATBOT_PORT=${VENDOR_CHATBOT_PORT}
PUBLIC_NETWORK=${PUBLIC_NETWORK}
OTEL_EXPORTER_OTLP_ENDPOINT=${TRACING_OPENTELEMETRY_COLLECTOR_ENDPOINT}:${TRACING_OPENTELEMETRY_COLLECTOR_PORT}
