services:
  agent:
    volumes:
      - /docker/volumes/:/docker/volumes/

  autoscaling:
    deploy:
      replicas: 0

  clusters-keeper:
    deploy:
      replicas: 0

  dask-sidecar:
    environment:
      - SIDECAR_LOGLEVEL=INFO

  payments:
    deploy:
      replicas: 1

  postgres:
    deploy:
      placement:
        constraints:
          - node.labels.postgres==true

  redis:
    networks:
      - public
    deploy:
      labels:
        - traefik.enable=true
        - io.simcore.zone=${TRAEFIK_SIMCORE_ZONE}
        - traefik.swarm.network=${SWARM_STACK_NAME}_default
        - "traefik.tcp.routers.${SWARM_STACK_NAME}_redis.rule=ClientIP(`10.0.0.0/8`) || ClientIP(`172.16.0.0/12`) || ClientIP(`192.168.0.0/16`)"
        - traefik.tcp.routers.${SWARM_STACK_NAME}_redis.entrypoints=redis
        - traefik.tcp.routers.${SWARM_STACK_NAME}_redis.tls=false
        - traefik.tcp.routers.${SWARM_STACK_NAME}_redis.service=${SWARM_STACK_NAME}_redis
        - traefik.tcp.services.${SWARM_STACK_NAME}_redis.loadbalancer.server.port=${REDIS_PORT}

  rabbit:
    # rabbit is already exposed via ops traefik
    # adding one more route to this configuration
    deploy:
      replicas: 0  # use standalone (cluster) rabbit stack

  traefik:
    environment:
        TRAEFIK_ENTRYPOINTS_POSTGRES_ADDRESS: ":5432"
        TRAEFIK_ENTRYPOINTS_REDIS_ADDRESS: ":${REDIS_EXTERNAL_PORT}"
    deploy:
      resources:
        limits:
          memory: 2048M
          cpus: '2.000'
      labels:
        # postgres
        - traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.entrypoints=postgres
        - traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.tls=false
        - traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.service=${SWARM_STACK_NAME}_postgresRoute
        - traefik.tcp.services.${SWARM_STACK_NAME}_postgresRoute.loadbalancer.server.port=5432
        - "traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.rule=ClientIP(`10.0.0.0/8`) || ClientIP(`172.16.0.0/12`) || ClientIP(`192.168.0.0/16`)"
        # redis
        - traefik.tcp.routers.${SWARM_STACK_NAME}_redisRoute.entrypoints=redis
        - traefik.tcp.routers.${SWARM_STACK_NAME}_redisRoute.tls=false
        - traefik.tcp.routers.${SWARM_STACK_NAME}_redisRoute.service=${SWARM_STACK_NAME}_redisRoute
        - traefik.tcp.services.${SWARM_STACK_NAME}_redisRoute.loadbalancer.server.port=${REDIS_EXTERNAL_PORT}
        - "traefik.tcp.routers.${SWARM_STACK_NAME}_redisRoute.rule=HostSNI(`*`)"
