services:
  autoscaling:
    deploy:
      replicas: 0
  agent:
    volumes:
      - /var/lib/docker/volumes:/var/lib/docker/volumes
  # need to pass self-signed certificate in /usr/local/share/ca-certificates and call update-ca-certificates
  catalog:
    deploy:
      replicas: ${SIMCORE_CATALOG_REPLICAS}
  sto-worker-cpu-bound:
    secrets:
        - source: storageca.crt
          target: /usr/local/share/ca-certificates/osparc.crt
    environment:
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
  sto-worker:
    secrets:
        - source: storageca.crt
          target: /usr/local/share/ca-certificates/osparc.crt
    environment:
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
  storage:
    secrets:
        - source: storageca.crt
          target: /usr/local/share/ca-certificates/osparc.crt
    environment:
      # This is necessary to make python-botocore work with the self-signed certificate
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt # via https://stackoverflow.com/questions/31448854/how-to-force-requests-use-the-certificates-on-my-ubuntu-system#comment78596389_37447847
      # minio sdk uses this env to use self-signed certs
      - SSL_CERT_FILE=/usr/local/share/ca-certificates/osparc.crt
  director:
    deploy:
      replicas: ${SIMCORE_DIRECTOR_V0_REPLICAS}
    environment:
      # needed to pass the self-signed certificate to the spawned services
      - DIRECTOR_SELF_SIGNED_SSL_FILENAME=/usr/local/share/ca-certificates/osparc.crt
      - DIRECTOR_SELF_SIGNED_SSL_SECRET_NAME=rootca.crt
      - DIRECTOR_SELF_SIGNED_SSL_SECRET_ID=${DIRECTOR_SELF_SIGNED_SSL_SECRET_ID}
      - DIRECTOR_REGISTRY_CACHING=False
      - DIRECTOR_REGISTRY_CACHING_TTL=00:15:00
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt # via https://stackoverflow.com/questions/31448854/how-to-force-requests-use-the-certificates-on-my-ubuntu-system#comment78596389_37447847
      - SSL_CERT_FILE=/usr/local/share/ca-certificates/osparc.crt
    secrets:
        - source: rootca.crt
          target: /usr/local/share/ca-certificates/osparc.crt
  dask-sidecar:
    secrets:
        - source: rootca.crt
          target: /usr/local/share/ca-certificates/osparc.crt
    environment:
      # minio sdk uses this env to use self-signed certs
      - SSL_CERT_FILE=/usr/local/share/ca-certificates/osparc.crt
      # This is necessary to make python work with the self-signed certificate
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt # via https://stackoverflow.com/questions/31448854/how-to-force-requests-use-the-certificates-on-my-ubuntu-system#comment78596389_37447847
  postgres:
    labels:
      - "pgbackup.enable=true"
    deploy:
      replicas: 1
  director-v2:
    secrets:
      - source: rootca.crt
        target: /usr/local/share/ca-certificates/osparc.crt
    environment:
      # needed to pass the self-signed certificate to the spawned services
      - DIRECTOR_V2_SELF_SIGNED_SSL_FILENAME=/usr/local/share/ca-certificates/osparc.crt
      - DIRECTOR_V2_SELF_SIGNED_SSL_SECRET_NAME=rootca.crt
      - DIRECTOR_V2_SELF_SIGNED_SSL_SECRET_ID=${DIRECTOR_SELF_SIGNED_SSL_SECRET_ID}
      - REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt # via https://stackoverflow.com/questions/31448854/how-to-force-requests-use-the-certificates-on-my-ubuntu-system#comment78596389_37447847
  api-server:
    deploy:
      replicas: 1
  migration:
    deploy:
      replicas: 1
  traefik:
    environment:
        TRAEFIK_ENTRYPOINTS_POSTGRES_ADDRESS: ":5432"
    deploy:
      labels:
        # oSparc postgres
        - traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.entrypoints=postgres
        - traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.tls=false
        - traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.service=${SWARM_STACK_NAME}_postgresRoute
        - traefik.tcp.services.${SWARM_STACK_NAME}_postgresRoute.loadbalancer.server.port=5432
        - "traefik.tcp.routers.${SWARM_STACK_NAME}_postgresRoute.rule=ClientIP(`195.176.8.0/24`) || ClientIP(`10.0.0.0/8`) || ClientIP(`172.16.0.0/12`) || ClientIP(`192.168.0.0/16`)"
      replicas: 1

  webserver:
    deploy:
      replicas: 1
    healthcheck:
      test: ["CMD", "echo", "health"]
    secrets:
      - source: rootca.crt
        target: /usr/local/share/ca-certificates/osparc.crt
  wb-garbage-collector:
    deploy:
      replicas: 1
    secrets:
      - source: rootca.crt
        target: /usr/local/share/ca-certificates/osparc.crt
  whoami:
    deploy:
      replicas: 1
  clusters-keeper:
    deploy:
      replicas: 0
secrets:
  rootca.crt:
    external: true
  storageca.crt:
    external: true
