# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ops/                      @sanderegg, @pcrespov
/services/              @sanderegg

/.travis.yml     @sanderegg
