version: '3.7'

services:

    adminer:
        image: adminer:4.8.1
        init: true
        environment:
            - ADMINER_DEFAULT_SERVER=db
            - ADMINER_DESIGN=nette
            - ADMINER_PLUGINS=json-column
        deploy:
            replicas: 0
            labels:
                - traefik.enable=true
                - traefik.swarm.network=${PUBLIC_NETWORK}
                - traefik.http.services.adminer_appmotion_gateway.loadbalancer.server.port=8080
                - traefik.http.routers.adminer_appmotion_gateway.rule=Host(`${MONITORING_DOMAIN}`) && PathPrefix(`/adminer/appmotion_gateway`)
                - traefik.http.routers.adminer_appmotion_gateway.entrypoints=https
                - traefik.http.routers.adminer_appmotion_gateway.tls=true
                - traefik.http.middlewares.adminer_appmotion_gateway_stripprefixregex.stripprefixregex.regex=^/adminer
                - traefik.http.routers.adminer_appmotion_gateway.middlewares=ops_whitelist_ips@swarm, ops_gzip@swarm, adminer_appmotion_gateway_stripprefixregex
            resources:
                reservations:
                    memory: 16M
                    cpus: "0.1"
                limits:
                    memory: 128M
                    cpus: "0.5"
            placement:
                constraints:
                    - node.labels.ops==true
        networks:
            - internal
            - public

    db:
        image: mariadb:10.11
        environment:
            - MYSQL_USER=${APPMOTION_GATEWAY_DB_USER}
            - MYSQL_PASSWORD=${APPMOTION_GATEWAY_DB_PASSWORD}
            - MYSQL_DATABASE=${APPMOTION_GATEWAY_DB_DATABASE}
            - MYSQL_RANDOM_ROOT_PASSWORD=1
        deploy:
            replicas: 0
            # https://tuneit.me/docker/deploy-mariadb-11-0-2-in-docker-swarm-cluster/
            update_config:
                parallelism: 2
                delay: 10s
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 3
                window: 120s
            placement:
                constraints:
                    - node.labels.appmotiondb==true
            resources:
                limits:
                    memory: 3G
                    cpus: '3.0'
                reservations:
                    memory: 256M
                    cpus: '0.1'
        volumes:
            - appmotion_gateway_db_volume:/var/lib/mysql
        networks:
            - internal

    api:
        image: itisfoundation/appmotion-gateway-php-apache-8.2:1.2-2024-03-26-11-40.2a6228f@sha256:378587d0fe401b8453bddd65714ed505bd08fc1eb9f9da9fc0b566b98ed72bf6
        environment:
            - WEB_DOCUMENT_ROOT=/app/public
        deploy:
            replicas: 1
            labels:
                - traefik.enable=true
                - traefik.swarm.network=${PUBLIC_NETWORK}
                - traefik.http.routers.appmotion_gateway.rule=${DEPLOYMENT_FQDNS_APPMOTION_CAPTURE_TRAEFIK_RULE}
                - traefik.http.routers.appmotion_gateway.entrypoints=https
                - traefik.http.routers.appmotion_gateway.tls=true
                - traefik.http.services.appmotion_gateway.loadbalancer.server.port=80
                - traefik.http.routers.appmotion_gateway.middlewares=ops_ratelimit@swarm
            resources:
                limits:
                    memory: 1G
                    cpus: '1.0'
                reservations:
                    memory: 64M
                    cpus: '0.1'
            placement:
                constraints:
                    - node.labels.simcore==true
        configs:
          - source: api_env_config
            target: /app/.env
        networks:
            - internal
            - appmotion
            - public

configs:
    # SEE https://docs.docker.com/compose/compose-file/05-services/#configs
    api_env_config:
        file: ./.api_env.secret
        name: ${STACK_NAME}_api_env_config_{{ "./.api_env.secret" | sha256file | substring(0,10) }} # rolling update on content change

volumes:
    # SEE https://docs.docker.com/compose/compose-file/07-volumes/
    appmotion_gateway_db_volume:

networks:
    internal:
        external: false
    appmotion:
        external: true
        name: ${APPMOTION_NETWORK}
    public:
        external: true
        name: ${PUBLIC_NETWORK}
