# macOS garbage
.DS_Store

# Vagrant per-vm and on-the-fly generated configurations
.vagrant
**/generated/*

# Vagrant persistent storage disk images
*.vdi
**/storage/*

# Secrets for Ansible/Vagrant deployment
*secrets.yml
*secrets.yaml

# Ansible related stuff
*.retry

# EHZ Shell Script logs and debug
log/
*.log
*.xtrace

# SSH/SSL Keys and the like
authorized_keys
known_hosts
id_rsa*
id_ed25519*
*.key
*.crt

# vscode
.vscode/

# python
*.pyc
.venv/
.pytest_cache/

#docker
.env

# generated stack files
.stack.*
