# this will set the user/password credentials on all Ops services for a local deployment
SERVICES_USER=admin
SERVICES_PASSWORD=adminadmin

# Simcore deployment -------------------------------------------------------
# define the stack prefix name 
# 1. stack name = PREFIX_STACK_NAME-SIMCORE_STACK_NAME
# 2. inside stack services are named as in webserver -> PREFIX_STACK_NAME_webserver
PREFIX_STACK_NAME=local
SIMCORE_STACK_NAME=simcore
# set the image tag the deployment-agent will use to deploy the simcore stack
SIMCORE_IMAGE_TAG=master-github-latest



# defined domain names
MACHINE_FQDN=osparc.local
MONITORING_DOMAIN=monitoring.${MACHINE_FQDN}
PORTAINER_DOMAIN=portainer.${MACHINE_FQDN}
STORAGE_DOMAIN=storage.${MACHINE_FQDN}
REGISTRY_DOMAIN=registry.${MACHINE_FQDN}
API_DOMAIN=api.${MACHINE_FQDN}


# Ops configurations ------------------------------------------------------

# Graylog
GRAYLOG_LOGIN=${SERVICES_USER}
GRAYLOG_ROOT_PASSWORD=${SERVICES_PASSWORD}

# Traefik 
TRAEFIK_USER=${SERVICES_USER}
TRAEFIK_PASSWORD=${SERVICES_PASSWORD}

# S3
S3_ACCESS_KEY=${SERVICES_PASSWORD}
S3_SECRET_KEY=${SERVICES_PASSWORD}
S3_ENDPOINT=${STORAGE_DOMAIN}
S3_BUCKET=${PREFIX_STACK_NAME}-simcore
S3_SECURE=1

# registry
REGISTRY_USER=${SERVICES_USER}
REGISTRY_PW=${SERVICES_PASSWORD}
REGISTRY_AUTH=True
REGISTRY_SSL=True
REGISTRY_S3_ACCESS_KEY=${S3_ACCESS_KEY}
REGISTRY_S3_SECRET_KEY=${S3_SECRET_KEY}
REGISTRY_S3_BUCKET=${REGISTRY_DOMAIN}
REGISTRY_S3_ENDPOINT=${S3_ENDPOINT}
REGISTRY_S3_SECURE="true"
REGISTRY_AWS_REGION=us-east-1

# Redis-commander
REDIS_HOST=${PREFIX_STACK_NAME}_redis
REDIS_PORT=6379

# Minio
MINIO_NUM_MINIOS=1
MINIO_NUM_PARTITIONS=1

# Mail server
SMTP_HOST=smtp.${MACHINE_FQDN}
SMTP_PORT=25
SMTP_USERNAME=${SERVICES_USER}
SMTP_PASSWORD=${SERVICES_PASSWORD}
SMTP_TLS_ENABLED=1

# Monitoring
POSTGRES_GRAFANA_USER=grafanareader
POSTGRES_GRAFANA_PASSWORD=adminadmin

# Simcore configuration -------------------------------------------------------
# Postgres
POSTGRES_DB=simcoredb
POSTGRES_HOST=${PREFIX_STACK_NAME}_postgres
POSTGRES_ENDPOINT=${PREFIX_STACK_NAME}_postgres:5432
POSTGRES_USER=${SERVICES_USER}
POSTGRES_PASSWORD=${SERVICES_PASSWORD}
POSTGRES_PORT=5432

# Rabbit
RABBIT_PORT=5672
RABBIT_HOST=${PREFIX_STACK_NAME}_rabbit
RABBIT_LOG_CHANNEL=comp.backend.channels.log
RABBIT_PROGRESS_CHANNEL=comp.backend.channels.progress
RABBIT_USER=${SERVICES_USER}
RABBIT_PASSWORD=${SERVICES_PASSWORD}

# Webserver
WEBSERVER_LOGIN_REGISTRATION_CONFIRMATION_REQUIRED=0
WEBSERVER_LOGIN_REGISTRATION_INVITATION_REQUIRED=0
WEBSERVER_STUDIES_ACCESS_ENABLED=1