CREATE USER ${METABASE_POSTGRES_USER} WITH PASSWORD '${METABASE_POSTGRES_PASSWORD}';

-- relies on readonly role aldready existing in the database
GRANT ${POSTGRES_DB}_readonly TO ${METABASE_POSTGRES_USER};

CREATE DATABASE ${METABASE_POSTGRES_DB}
    WITH OWNER ${METABASE_POSTGRES_USER};
