-- need to be executed while connected as ${METABASE_POSTGRES_USER} user
DROP DATABASE ${METABASE_POSTGRES_DB};

/*
need to be executed while connected to ${POSTGRES_DB} database
as ${POSTGRES_USER} user
*/

REVOKE SELECT ON TABLE ${METABASE_POSTGRES_ALLOWED_SIMCORE_TABLES} FROM ${METABASE_POSTGRES_USER};

REVOKE USAGE ON SCHEMA public FROM ${METABASE_POSTGRES_USER};

REVOKE CONNECT ON DATABASE ${POSTGRES_DB} FROM ${METABASE_POSTGRES_USER};

DROP USER ${METABASE_POSTGRES_USER};
