
# https://github.com/VictoriaMetrics/helm-charts/blob/victoria-logs-cluster-0.2.7/charts/victoria-logs-cluster/values.yaml
{{- $defaultSecurityContext := dict
  "enabled" true
  "allowPrivilegeEscalation" false
  "readOnlyRootFilesystem" true
  "runAsNonRoot" true
  "runAsUser" 1000
  "runAsGroup" 1000
  "seccompProfile" (dict "type" "RuntimeDefault")
}}

victoria-logs-cluster:
  global:
    image:
      registry: quay.io # common registry we already use for other workloads

  vmauth:
    enabled: true
    replicaCount: 1
    fullnameOverride: vmauth
    podLabels:
      app.simcore.io/name: vmauth
    http:
      - name: http
        primary: true
        value: ":8427"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi

  vlinsert:
    replicaCount: 1
    fullnameOverride: vlinsert
    podLabels:
      app.simcore.io/name: vlinsert
    http:
      - name: http
        primary: true
        value: ":9481"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

  vlselect:
    replicaCount: 1
    fullnameOverride: vlselect
    podLabels:
      app.simcore.io/name: vlselect
    http:
      - name: http
        primary: true
        value: ":9471"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

  vlstorage:
    replicaCount: 1
    retentionPeriod: 30d
    fullnameOverride: vlstorage
    podLabels:
      app.simcore.io/name: vlstorage
    http:
      - name: http
        primary: true
        value: ":9491"
    vmServiceScrape:
      enabled: true
    nodeSelector:
      node-role.kubernetes.io/ops: ""
    securityContext: {{ $defaultSecurityContext | toYaml | nindent 6 }}
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: "1"
        memory: 2Gi
    persistentVolume:
      storageClassName: {{ requiredEnv "KUBERNETES_CRITICAL_STORAGE_CLASS_NAME" | quote }}
      size: 50Gi
