{{ $vectorConfigName := "vector-config" }}
{{ $metricsPort := "9090" }}
{{ $apiPort := "8686" }}

kubernetesApiServerPort: {{ requiredEnv "KUBERNETES_API_SERVER_PORT" }}
vectorConfigName: {{ $vectorConfigName | quote }}
metricsPort: {{ $metricsPort }}
apiPort: {{ $apiPort }}

# https://github.com/vectordotdev/helm-charts/blob/vector-0.56.0/charts/vector/values.yaml
vector:
  role: Agent

  logLevel: info # trace, debug, info, warn, error, off

  podLabels:
    app.simcore.io/name: vector

  args:
    - --config-dir
    - /etc/vector/

  containerPorts:
    - name: prom-exporter
      containerPort: {{ $metricsPort }}
      protocol: TCP
    - name: api
      containerPort: {{ $apiPort }}
      protocol: TCP

  livenessProbe:
    httpGet:
      path: /health
      port: {{ $apiPort }}

  readinessProbe:
    httpGet:
      path: /health
      port: {{ $apiPort }}

  service:
    enabled: false

  serviceHeadless:
    enabled: false

  rollWorkload: false # does not work with existingConfigMaps
  existingConfigMaps:
    - {{ $vectorConfigName | quote }}

  dataDir: /vector-data-dir

  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault

  serviceAccount:
    automountToken: true

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: "1"
      memory: 512Mi

  podMonitor:
    enabled: true
    port: prom-exporter
    path: /metrics
