ports:
  webinternal:
    nodePort: {{ requiredEnv "KUBERNETES_WEBINTERNAL_PORT" }}
    port: 8001
    expose:
      default: true
    exposedPort: 81
    protocol: TCP
    http3:
      enabled: false
    middlewares:
      - default-internal-ipallowlist@kubernetescrd
