MONITORING_DOMAIN=${MONITORING_DOMAIN}
MONITORED_NETWORK=${MONITORED_NETWORK}
PUBLIC_NETWORK=${PUBLIC_NETWORK}
SMTP_USERNAME=${SMTP_USERNAME}
SMTP_PASSWORD=${SMTP_PASSWORD}
SMTP_HOST=${SMTP_HOST}

HTTP_PROXY_PREFIX_PATH=${LOCAL_MAIL_SERVER_HTTP_PROXY_PREFIX_PATH}
PROMETHEUS_PORT=${LOCAL_MAIL_SERVER_PROMETHEUS_PORT}
