MACHINE_FQDN=example.com
K8S_MONITORING_FQDN=monitoring.k8s.example.com

# no time unit means `Months`
# See https://docs.victoriametrics.com/victoriametrics/single-server-victoriametrics/#retention
VICTORIA_METRICS_METRICS_RETENTION_PERIOD=3
VICTORIA_METRICS_LOG_LEVEL=INFO
VICTORIA_METRICS_DATASOURCE_ID=victoria-metrics

SERVICES_USER=admin
SERVICES_PASSWORD=password

AWS_RESOURCE_PREFIX=ci
AWS_DEPLOYMENT_TAG_KEY=Deployment
AWS_DEPLOYMENT_TAG_VALUE=ci

AWS_K8S_EBS_CSI_DRIVER_IAM_ACCESS_KEY=acces-key
AWS_K8S_EBS_CSI_DRIVER_IAM_SECRET_KEY=secret-key

KUBERNETES_DEFAULT_STORAGE_CLASS_NAME=default
KUBERNETES_CRITICAL_STORAGE_CLASS_NAME=critical

GRAFANA_LOG_LEVEL=INFO

TRAEFIK_NAMESPACE=traefik
TRAEFIK_BASIC_AUTH_MIDDLEWARE_NAME=basic-auth

KUBERNETES_API_SERVER_PORT=6443
VICTORIA_METRICS_VMAUTH_PORT=8427
