MACHINE_FQDN=example.com
K8S_MONITORING_FQDN=monitoring.k8s.example.com

VICTORIA_METRICS_METRICS_RETENTION_PERIOD=1w

SERVICES_USER=admin
SERVICES_PASSWORD=password

AWS_RESOURCE_PREFIX=ci
AWS_DEPLOYMENT_TAG_KEY=Deployment
AWS_DEPLOYMENT_TAG_VALUE=ci

AWS_K8S_EBS_CSI_DRIVER_IAM_ACCESS_KEY=acces-key
AWS_K8S_EBS_CSI_DRIVER_IAM_SECRET_KEY=secret-key

KUBERNETES_API_SERVER_PORT=6443

TRAEFIK_BASIC_AUTH_MIDDLEWARE_NAME=basic-auth
TRAEFIK_NAMESPACE=traefik

KUBERNETES_DEFAULT_STORAGE_CLASS_NAME=default
KUBERNETES_CRITICAL_STORAGE_CLASS_NAME=critical
