MACHINE_FQDN=example.com
K8S_MONITORING_FQDN=monitoring.k8s.example.com

SERVICES_USER=admin
SERVICES_PASSWORD=password

AWS_RESOURCE_PREFIX=ci
AWS_DEPLOYMENT_TAG_KEY=Deployment
AWS_DEPLOYMENT_TAG_VALUE=ci

AWS_K8S_EBS_CSI_DRIVER_IAM_ACCESS_KEY=acces-key
AWS_K8S_EBS_CSI_DRIVER_IAM_SECRET_KEY=secret-key
