{%- macro redis_connection(label, host, port, username, password, index, secure) %}
{
  "label": "{{ label }}",
  "host": "{{ host }}",
  "port": "{{ port }}",
  {%- if username %}
  "username": "{{ username }}",
  {%- endif %}
  "password": "{{ password }}",
  "dbIndex": {{ index }},
  "tls": {{ 'true' if secure.lower() in ['1', 'true', 'yes'] else 'false' }}
}
{%- endmacro %}
{
  "connections": [
    {#- special if for DALCO. Remove once dalco is not special case anymore #}
    {%- if REDIS_STAGING_DATABASES %}
      {%- for label in REDIS_STAGING_DATABASES.strip(',').split(',') %}
        {{ redis_connection(label, REDIS_HOST, REDIS_PORT, REDIS_USER, REDIS_STAGING_PASSWORD, loop.index0, REDIS_SECURE) | indent(4) }},
      {%- endfor %}
    {%- endif %}
    {%- if REDIS_DATABASES %}
      {%- for label in REDIS_DATABASES.strip(',').split(',') %}
        {{ redis_connection(label, REDIS_HOST, REDIS_PORT, REDIS_USER, REDIS_PASSWORD, loop.index0, REDIS_SECURE) | indent(4) }}{%- if not loop.last %},{% endif %}
      {%- endfor %}
    {%- else %}
      {{ "REDIS_DATABASES must not be empty" / 0 }}
    {%- endif %}
  ]
}
