version: "3.7"
services:
  redis-commander:
    image: ghcr.io/joeferner/redis-commander:0.8.1
    init: true
    ports:
      - 8081
    networks:
      - monitored
      - public
    configs:
      - source: redis_commander_config
        target: /redis-commander/config/local.json
    environment:
      - URL_PREFIX=/redis
    deploy:
      update_config:
        order: start-first
        delay: 10s
        failure_action: rollback
        parallelism: 1
      placement:
        constraints:
          - node.labels.ops == true
      labels:
        - traefik.enable=true
        - traefik.swarm.network=${PUBLIC_NETWORK}
        - traefik.http.services.redis.loadbalancer.server.port=8081
        - traefik.http.routers.redis.rule=Host(`${MONITORING_DOMAIN}`) && PathPrefix(`/redis`)
        - traefik.http.routers.redis.entrypoints=https
        - traefik.http.routers.redis.tls=true
        - traefik.http.middlewares.redis_stripprefixregex.stripprefixregex.regex=^/redis
        - traefik.http.routers.redis.middlewares=ops_auth@swarm, ops_gzip@swarm, ops_whitelist_ips@swarm
      resources:
        limits:
          memory: 192M
          cpus: "0.5"
        reservations:
          memory: 64M
          cpus: "0.1"

configs:
  redis_commander_config:
    file: ./config.json
    name: ${STACK_NAME}_config_{{ "./config.json" | sha256file | substring(0,10) }}

networks:
  public:
    external: true
    name: ${PUBLIC_NETWORK}
  monitored:
    name: ${MONITORED_NETWORK}
    external: true
