version: "3.7"

services:
  jaeger:
    image: jaegertracing/all-in-one:1.68.0
    command: >
      --query.base-path=/jaeger
    init: true
    networks:
      - public
      - monitored
    environment:
      MEMORY_MAX_TRACES: 5000
    deploy:
      placement:
        constraints:
          - node.labels.ops==true
      labels:
        - traefik.enable=true
        - traefik.docker.network=${PUBLIC_NETWORK}
        - traefik.http.services.jaeger.loadbalancer.server.port=16686
        - traefik.http.routers.jaeger.rule=Host(`${MONITORING_DOMAIN}`) && PathPrefix(`/jaeger`)
        - traefik.http.routers.jaeger.entrypoints=https
        - traefik.http.routers.jaeger.tls=true
        - traefik.http.routers.jaeger.middlewares=ops_whitelist_ips@swarm, ops_auth@swarm, ops_gzip@swarm
        - prometheus-job=jaeger
        - prometheus-port=14269
      resources:
        limits:
          memory: 512M
          cpus: "1"
        reservations:
          memory: 64M
          cpus: "0.1"
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.123.0
    configs:
      - source: opentelemetry-collector-config
        target: /etc/otel/config.yaml
    hostname: "{% raw %}{{.Node.Hostname}}-{{.Task.Slot}}{% endraw %}"
    command:
      - "--config=/etc/otel/config.yaml"
    deploy:
      placement:
        constraints:
          - node.labels.ops==true
    ports:
      - "4318:4318"  # OTLP HTTP receiver
    networks:
      - public
      - monitored
      - interactive_services_subnet
    environment:
      TRACING_OPENTELEMETRY_COLLECTOR_BATCH_SIZE: ${TRACING_OPENTELEMETRY_COLLECTOR_BATCH_SIZE}
      TRACING_OPENTELEMETRY_COLLECTOR_SAMPLING_PERCENTAGE: ${TRACING_OPENTELEMETRY_COLLECTOR_SAMPLING_PERCENTAGE}
      TRACING_OPENTELEMETRY_COLLECTOR_EXPORTER_ENDPOINT: ${TRACING_OPENTELEMETRY_COLLECTOR_EXPORTER_ENDPOINT}
      TRACING_OPENTELEMETRY_COLLECTOR_SERVICE_TELEMETRY_LOG_LEVEL: ${TRACING_OPENTELEMETRY_COLLECTOR_SERVICE_TELEMETRY_LOG_LEVEL}

configs:
  opentelemetry-collector-config:
    name: ${STACK_NAME}_opentelemetry-collector-config_{{ "./opentelemetry-collector-config.yaml" | sha256file | substring(0,10) }}
    file: ./opentelemetry-collector-config.yaml

networks:
  public:
    external: true
    name: ${PUBLIC_NETWORK}
  monitored:
    name: ${MONITORED_NETWORK}
    external: true
  interactive_services_subnet:
    name: ${SWARM_STACK_NAME}_interactive_services_subnet
    external: true
