{% set NODE_IXS = range(1, (RABBIT_CLUSTER_NODE_COUNT | int) + 1) -%}

services:

{%- for ix in NODE_IXS %}
  clean_rabbit0{{ ix }}_volume:
    image: docker:25.0.3-cli
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    init: true
    deploy:
      mode: replicated-job
      replicas: 1
      restart_policy:
        # do not restart jobs to avoid running these jobs in background
        # unawared. It may lead to unexpected volume removal once rabbit
        # cluster is not running
        condition: none
      placement:
        constraints:
          - node.labels.rabbit0{{ ix }} == true
      resources:
        limits:
          cpus: "0.5"
          memory: "512M"
        reservations:
          cpus: "0.1"
          memory: "128M"
    configs:
      - source: delete_rabbit_docker_volume_on_node_script
        target: /app/delete_rabbit_docker_volume_on_node.sh
        mode: 0755
    environment:
      VOLUME: rabbit0{{ ix }}_data
      TIMEOUT_MINUTES: 1
      INTERVAL_SECONDS: 10
    entrypoint: ["/app/delete_rabbit_docker_volume_on_node.sh"]
{% endfor %}

configs:
  delete_rabbit_docker_volume_on_node_script:
    file: ./scripts/delete_rabbit_docker_volume_on_node.sh
    name: rabbit_delete_rabbit_docker_volume_on_node_script_{{ "./scripts/delete_rabbit_docker_volume_on_node.sh" | sha256file | substring(0,10) }}
