{% set NODE_IXS = range(1, (RABBIT_CLUSTER_NODE_COUNT | int) + 1) -%}

services:

{% for ix in NODE_IXS %}
  clean_rabbit0{{ ix }}_volume:
    image: docker:25.0.3-cli
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    init: true
    deploy:
      placement:
        constraints:
          - node.labels.rabbit0{{ ix }} == true
      restart_policy:
        condition: none
      resources:
        limits:
          cpus: "1.0"
          memory: "1G"
        reservations:
          cpus: "0.1"
          memory: "128M"
    configs:
      - source: delete_docker_volume_on_node_script
        target: /app/delete_docker_volume_on_node.sh
        mode: 0755
    environment:
      VOLUME: ${STACK_NAME}0{{ ix }}_data
      TIMEOUT: 120
      INTERVAL: 5
    entrypoint: ["/app/delete_docker_volume_on_node.sh"]
{% endfor %}

configs:
  delete_docker_volume_on_node_script:
    file: ./operator/delete_docker_volume_on_node.sh
    name: ${STACK_NAME}_delete_docker_volume_on_node_script_{{ "./operator/delete_docker_volume_on_node.sh" | sha256file | substring(0,10) }}
