global
    log stdout format raw local0
    maxconn 4096
    pidfile /tmp/haproxy.pid

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend rabbit
    bind *:5672
    default_backend rabbit_backends

frontend rabbit_dashboard
    bind *:15672
    default_backend rabbit_dashboard_backends

backend rabbit_backends
    balance roundrobin
    server rabbit01 rabbit_rabbit01:5672 check inter 5s rise 2 fall 3
    server rabbit02 rabbit_rabbit02:5672 check inter 5s rise 2 fall 3
    server rabbit03 rabbit_rabbit03:5672 check inter 5s rise 2 fall 3

backend rabbit_dashboard_backends
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server rabbit01 rabbit_rabbit01:15672 check inter 5s rise 2 fall 3
    server rabbit02 rabbit_rabbit02:15672 check inter 5s rise 2 fall 3
    server rabbit03 rabbit_rabbit03:15672 check inter 5s rise 2 fall 3
