# define MINIO Access and Secret keys
MINIO_ACCESS_KEY=${SERVICES_PASSWORD}
MINIO_SECRET_KEY=${SERVICES_PASSWORD}
# define the number of MINIO replicas
MINIO_NUM_MINIOS=${MINIO_NUM_MINIOS}
# define the number of partitions each MINIO may be using
MINIO_NUM_PARTITIONS=${MINIO_NUM_PARTITIONS}
# EXAMPLE: optionally define the host data folder for each partition (must be the same on each node)
#MINIO_INTERNAL_VOLUME_DATA_PART0=/path/to/partition/0
#MINIO_INTERNAL_VOLUME_DATA_PART1=/path/to/partition/1
STORAGE_DOMAIN=${STORAGE_DOMAIN}
