version: "3.7"
services:
  filestash:
    image: machines/filestash:6b271d3
    configs:
      - source: filestash_config
        target: /app/data/state/config/config.json
    networks:
      - public
      - monitored
    env_file:
      - .env
    deploy:
      labels:
        - traefik.enable=true
        - traefik.swarm.network=${PUBLIC_NETWORK}
        - traefik.http.services.filestash.loadbalancer.server.port=8334
        - traefik.http.routers.filestash.rule=Host(`${FILESTASH_DOMAIN}`)
        - traefik.http.routers.filestash.entrypoints=https
        - traefik.http.routers.filestash.tls=true
        - traefik.http.routers.filestash.middlewares=ops_whitelist_ips@swarm
      resources:
        limits:
          memory: 120M
          cpus: "1"
        reservations:
          memory: 32M
          cpus: "0.1"
      placement:
        constraints:
          - node.labels.ops==true
  onlyoffice:
    image: onlyoffice/documentserver:7.4.0
    networks:
      - public
      - monitored

networks:
  public:
    external: true
    name: ${PUBLIC_NETWORK}
  monitored:
    name: ${MONITORED_NETWORK}
    external: true

configs:
  filestash_config:
    name: ${STACK_NAME}_filestash_config_{{ "./filestash_config.json" | sha256file | substring(0,10) }}
    file: ./filestash_config.json
