flavors:
  aws:
    enabled: true
    dashboards:
      autoscaling_overview:
        folder: Simcore
      aws_rds_overview:
        folder: OPS Apps
      aws_elasticache_redis_overview:
        folder: OPS Apps
