OPS_REGISTRY_REPLICAS=${OPS_REGISTRY_REPLICAS}

REGISTRY_DOMAIN=${REGISTRY_DOMAIN}

REGISTRY_HTTP_SECRET=${REGISTRY_HTTP_SECRET}
REGISTRY_S3_ACCESS_KEY=${REGISTRY_S3_ACCESS_KEY}
REGISTRY_S3_SECRET_KEY=${REGISTRY_S3_SECRET_KEY}
S3_ACCESS_KEY=${REGISTRY_S3_ACCESS_KEY}
S3_SECRET_KEY=${REGISTRY_S3_SECRET_KEY}
S3_ENDPOINT=${S3_ENDPOINT}
S3_BUCKET=${REGISTRY_DOMAIN}
REGISTRY_S3_BUCKET=${REGISTRY_S3_BUCKET}
REGISTRY_S3_ENDPOINT=${S3_ENDPOINT}
REGISTRY_S3_SECURE=${REGISTRY_S3_SECURE}
AWS_REGION=${REGISTRY_AWS_REGION}
