scrape_configs:
  # SIMCORE -------------------------------------------------------------------
  - job_name: "simcore"
    scrape_interval: ${PROMETHEUS_SCRAPE_INTERVAL_SECONDS}s
    scrape_timeout: ${PROMETHEUS_SCRAPE_TIMEOUT_SECONDS}s
    relabel_configs:
      - source_labels: [__meta_dns_name]
        separator: ;
        regex: ^(.*\.)?(.*?)[_-].*$
        target_label: deployment
        replacement: $2
        action: replace
      - source_labels: [__meta_dns_name]
        separator: ;
        regex: ^.*?[_-](.*)$
        target_label: service_name
        replacement: $1
        action: replace
    # Handle with "tasks." when there are multiple replica according to https://www.innoq.com/en/blog/scraping-docker-swarm-service-instances-with-prometheus/
    dns_sd_configs:
      - names:
          - "tasks.production_agent"
          - "tasks.staging_agent"
          - "tasks.master_agent"
        type: "A"
        port: 8000
      - names:
          - "tasks.production_api-server"
          - "tasks.staging_api-server"
          - "tasks.master_api-server"
        type: "A"
        port: 8000
      - names:
          - "tasks.production_autoscaling"
          - "tasks.staging_autoscaling"
          - "tasks.master_autoscaling"
        type: "A"
        port: 8000
      - names:
          - "tasks.production_clusters_keeper"
          - "tasks.staging_clusters_keeper"
          - "tasks.master_clusters_keeper"
        type: "A"
        port: 8000        
      - names:
          - "tasks.production_director"
          - "tasks.staging_director"
          - "tasks.master_director"
        type: "A"
        port: 8080        
      - names:
          - "tasks.production_rabbit"
          - "tasks.staging_rabbit"
          - "task.master_rabbit"
        type: "A"
        port: 15692
      - names:
          - "tasks.production_storage"
          - "tasks.staging_storage"
          - "tasks.master_storage"
        type: "A"
        port: 8080
      - names:
          - "tasks.production_traefik"
          - "tasks.staging_traefik"
          - "tasks.master_traefik"
        type: "A"
        port: 8082
      - names:
          - "tasks.production_webserver"
          - "tasks.staging_webserver"
          - "tasks.master_webserver"
        type: "A"
        port: 8080
      - names:
          - "tasks.master-redis-exporter"
          - "tasks.staging-redis-exporter"
          - "tasks.production-redis-exporter"
        type: "A"
        port: 9121
      - names:
          - "tasks.master-postgres-exporter"
          - "tasks.staging-postgres-exporter"
          - "tasks.production-postgres-exporter"
        type: "A"
        port: 9187
      - names:
          - "tasks.dcgm-exporter"
        type: "A"
        port: 9400
      - names:
          - "tasks.pgsql-query-exporter"
        type: "A"
        port: 9560
      - names:
          - "tasks.master_dask-scheduler"
          - "tasks.staging_dask-scheduler"
          - "tasks.production_dask-scheduler"
        type: "A"
        port: 8787
      - names:
          - "tasks.master_dask-sidecar"
          - "tasks.staging_dask-sidecar"
          - "tasks.production_dask-sidecar"
        type: "A"
        port: 8787
