# Victoria Traces does not support full HA out-of-the-box. It is similar
# to Victoria Logs in terms of HA limitations.

{{ fail "Not Implemented. Victoria Traces does not support full-fledged HA out-of-the-box" }}
