cert-manager:
  crds:
    enabled: true
    keep: true

  nodeSelector:
    ops: "true"

  webhook:
    securePort: 10250
  cainjector:
    replicaCount: 1
  replicaCount: 1
  webhook:
    replicaCount: 1
