<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="default.css">
</head>
<body>
<h1>{{ j2heading}}</h1><br><br>
<h1>{{ j2heading2}}</h1><br><br>
<table class="minimalistBlack">
<thead>
    <tr height="100px">
        {% for item in table_headeritems %}
            <th scope="col">{{item}}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
<tr>
{% for row in table_rows %}
    <tr height="100px">
        {% for item in row %}
            {{item}}
        {% endfor %}
    </tr>
{% endfor %}
</tr>
</tbody>
</table>
</body>
</html>
