databases:
  postgres:
    dsn: postgresql://{{POSTGRES_USER}}:{{POSTGRES_PASSWORD}}@{{POSTGRES_HOST}}:{{POSTGRES_PORT}}/{{POSTGRES_DB}}

metrics:{% for _gid in MONITORING_PROMETHEUS_PGSQL_GID_MONITORED.split(",") if _gid != "" %}
  osparc_members_in_gid_{{_gid}}:
    type: gauge
    description: Number of users in group {{_gid}}{% endfor %}
  osparc_total_number_of_users:
    type: gauge
    description: Total nuber of registered users
  osparc_total_number_of_payment_transactions:
    type: gauge
    description: Total number of payment transactions
  osparc_total_number_of_successful_payment_transactions:
    type: gauge
    description: Total number of successful payment transactions
  osparc_total_number_of_dollars_paid:
    type: gauge
    description: Total number of dollars paid successfully
  osparc_total_number_of_credits_purchased_successfully:
    type: gauge
    description: Total number of credits purchased successfully


queries:{% for _gid in MONITORING_PROMETHEUS_PGSQL_GID_MONITORED.split(",") if _gid != "" %}
  query_members_in_gid_{{_gid}}:
    interval: 55
    databases: [postgres]
    metrics: [osparc_members_in_gid_{{_gid}}]
    sql: |
      SELECT COUNT(*) as osparc_members_in_gid_{{_gid}}
      FROM users
      JOIN user_to_groups ON users.id = user_to_groups.uid
      JOIN groups ON groups.gid = user_to_groups.gid
      WHERE groups.gid = {{_gid}};{% endfor %}
  query_total_number_of_users_excluding_guests:
    interval: 55
    databases: [postgres]
    metrics: [osparc_total_number_of_users]
    sql: |
      SELECT COUNT(*) as osparc_total_number_of_users
      FROM users WHERE role <> 'GUEST';
  query_total_number_of_payment_transactions:
    interval: 55
    databases: [postgres]
    metrics: [osparc_total_number_of_payment_transactions]
    sql: |
      SELECT COUNT(*) as osparc_total_number_of_payment_transactions
      FROM payments_transactions
  query_total_number_of_successful_payment_transactions:
    interval: 55
    databases: [postgres]
    metrics: [osparc_total_number_of_successful_payment_transactions]
    sql: |
      SELECT COUNT(*) as osparc_total_number_of_successful_payment_transactions
      FROM payments_transactions WHERE state = 'SUCCESS';
  query_total_number_of_dollars_paid_successfully:
    interval: 55
    databases: [postgres]
    metrics: [osparc_total_number_of_dollars_paid]
    sql: |
      SELECT SUM(price_dollars) as osparc_total_number_of_dollars_paid_successfully
      FROM payments_transactions WHERE state = 'SUCCESS';
  query_total_number_of_credits_purchased_successfully:
    interval: 55
    databases: [postgres]
    metrics: [osparc_total_number_of_credits_purchased_successfully]
    sql: |
      SELECT SUM(osparc_credits) as osparc_total_number_of_credits_purchased_successfully
      FROM payments_transactions WHERE state = 'SUCCESS';
